
{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<form method="get">
    {% with form=filter.form %}
    <div class="container">
    <div class="row">
        <div class="col-md-4"> {{ form.room_id|as_crispy_field }} </div>
        <div class="col-md-4"> {{ form.car_id|as_crispy_field }} </div>
        <div class="col-md-4"> {{ form.applicant_name|as_crispy_field }} </div>
    </div>
    <div class="row">
        <div class="col-md-4"> {{ form.card_type|as_crispy_field }} </div>
        <div class="col-md-4"> {{ form.approve_status|as_crispy_field }} </div>

    </div>
    <div class="row">
        <div class="col-md-1 col-md-offset-11">   <button type="submit" class="btn btn-success">查询</button>  </div>
        
    </div> 
    </div>       
    {% endwith %}

</form>

<table class="table table-bordered" style="margin-top: 10px;">
    <thead class="thead-light">
        <tr>
            <th>序号</th>
            <th>房号</th>
            <th>车牌</th>
            <th>申请人</th>
            <th>车卡类型</th>
            <th>认证状态</th>
            <th>认证编号</th>
        </tr>
    </thead>

    <tbody>
        {% for obj in all  %}
        <tr>
            <td>{{ obj.id }}</td>
            <td>{{ obj.room_id }}</td>
            <td><a href="{% url 'car_detail' obj.car_id %}">{{ obj.car_id }}</a></td>
            <td>{{ obj.applicant_name }}</td>
            <td>{{ obj.card_type_str }}</td>
            <td>{{ obj.approve_status_str }}</td>
            <td>{{ obj.approve_id_str }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<ul class="pagination">
    <!--#上一页-->
    <!--当有上一页时-->
    {% if page_obj.has_previous %}
    <li><a class="page-link" href="{% url 'car_query' %}?page={{ page_obj.previous_page_number }}">&lt&lt</a></li>
    {% else %}
    <li class="disabled"><a class="page-link" href="#">&lt&lt</a></li>
    {% endif %}

    <!--中间的页码，如果是当前页，添加active属性-->

    {% for page in paginator.page_range %}
    {% if page == page_obj.number %}
    <li class="active page-item">
        <a class="page-link" href="{% url 'car_query' %}?page={{ page }}">{{ page }}</a>
    </li>
    {% else %}
    <li class="page-item"><a class="page-link" href="{% url 'car_query' %}?page={{ page }}">{{ page }}</a></li>
    {% endif %}
    {% endfor %}


    <!--#下一页-->
    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="{% url 'car_query' %}?page={{ page_obj.next_page_number }}">&gt&gt</a></li>
    {% else %}
    <li class="disabled page-item"><a class="page-link" href="#">&gt&gt</a></li>
    {% endif %}
</ul>
{% endblock %}
